{% extends 'blog/base.html' %}

{% block content %}
    <div method="POST" class="address">
        {% if address.created_date %}
            <div class="date">
                {{ address.created_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'address_edit' pk=address.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ address.name }}</h1>
        <p>연락처1 : {{ address.phone_number }}</p>
        <p>연락처2 : {{ address.home_number }}</p>
        <p>이메일 : {{ address.email }}</p>
        <br>
    </div>
{% endblock %}